/handin1/serviceLoader/core/target/
/handin1/serviceLoader/common/target/
/handin1/serviceLoader/Asteroids/target/
/handin1/serviceLoader/Player/target/
/handin1/serviceLoader/Enemy/target/
/handin1/serviceLoader/Bullet/target/
/handin1/netbeanslab1/core/target/
/handin1/netbeanslab2/core/target/
/handin1/AsteroidsServiceLoader/Asteroid/target/
/handin1/AsteroidsServiceLoader/Enemy/target/
/handin1/AsteroidsServiceLoader/Collision/target/
/handin1/AsteroidsServiceLoader/Common/target/
/handin1/AsteroidsServiceLoader/Core/target/
/handin1/AsteroidsServiceLoader/Player/target/
