<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    
    <bean id="player" class="dk.sdu.mmmi.cbse.playersystem.Player"/>
    <bean id="playerPlugin" class="dk.sdu.mmmi.cbse.playersystem.PlayerPlugin"/>
    <bean id="playerControlSystem" class="dk.sdu.mmmi.cbse.playersystem.PlayerControlSystem"/>


    <bean id="enemy" class="dk.sdu.mmmi.cbse.enemysystem.Enemy"/>
    <bean id="enemyPlugin" class="dk.sdu.mmmi.cbse.enemysystem.EnemyPlugin"/>
    <bean id="enemyControlSystem" class="dk.sdu.mmmi.cbse.enemysystem.EnemyControlSystem"/>

    <bean id="collider" class="dk.sdu.mmmi.cbse.collision.Collider"/>
    <!--
        <bean id="asteroid" class="dk.sdu.mmmi.cbse.asteroid.Asteroid">
            <constructor-arg type="dk.sdu.mmmi.cbse.asteroid.AsteroidType" value="MEDIUM"/>
        </bean>
    
        <bean id="asteroid2" class="dk.sdu.mmmi.cbse.asteroid.AsteroidControlSystem"/>
        <bean id="asteroid3" class="dk.sdu.mmmi.cbse.asteroid.AsteroidPlugin"/>
        <bean id="asteroid4" class="dk.sdu.mmmi.cbse.asteroid.AsteroidSplitter"/>
        <bean id="asteroid5" class="dk.sdu.mmmi.cbse.asteroid.AsteroidType"/>
    !-->
</beans>
